<div class="container">
   <div class="row">
      <div class="col-lg-6 m-auto text-center">
         <h2 class="h1">
            Latest News
         </h2>
         <div class="u-h-4 u-w-50 bg-primary rounded mt-4 u-mb-40 mx-auto"></div>
      </div>
   </div>
   <div class="row">
      <div class="col-md-4 mt-4">
         <div class="card border-0 box-shadow-v1 u-h-100p">

            <div class="u-p-30">
               <h4>Contrast and Similarity in Design</h4>
               <p class="d-flex text-muted">
                  <span><i class="icon icon-Time mr-1"></i> May 24, 2018</span>
                  <span><i class="icon icon-Eye mr-1 ml-3"></i> 468 views</span>
               </p>
               <p>
                  Nam liber tempor cum soluta nobis eleif end option congue is nihil
               </p>
               <a href="#" class="btn btn-pink btn-rounded my-3">Read More</a>
            </div>
         </div>
      </div>
      <div class="col-md-4 mt-4">
         <div class="card border-0 box-shadow-v1 u-h-100p">

            <div class="u-p-30">
               <h4>
                  devdap conv in 2018
               </h4>
               <p class="d-flex text-muted">
                  <span><i class="icon icon-Time mr-1"></i> May 24, 2018</span>
                  <span><i class="icon icon-Eye mr-1 ml-3"></i> 468 views</span>
               </p>
               <p>
                  Nam liber tempor cum soluta nobis eleif end option congue is nihil imper per tem por legere me
               </p>
               <a href="#" class="btn btn-pink btn-rounded my-3">
               Read More
               </a>
            </div>
         </div>
      </div>
      <div class="col-md-4 mt-4">
         <div class="card border-0 box-shadow-v1 u-h-100p">

            <div class="u-p-30">
               <h4>
                  Awesome design trand in clean design
               </h4>
               <p class="d-flex text-muted">
                  <span><i class="icon icon-Time mr-1"></i> May 24, 2018</span>
                  <span><i class="icon icon-Eye mr-1 ml-3"></i> 468 views</span>
               </p>
               <p>
                  Nam liber tempor cum soluta nobis eleif end option congue is nihil
               </p>
               <a href="#" class="btn btn-pink btn-rounded my-3">
               Read More
               </a>
            </div>
         </div>
      </div>
   </div>
</div>