<div class="container">
   <div class="row text-center">
      <div class="col-12">
         <h2 class="h1">
            Our Services
         </h2>
         <div class="u-h-4 u-w-50 bg-primary rounded mt-4 u-mb-40 mx-auto"></div>
      </div>
      <div class="col-lg-6 col-md-6 u-mt-30">
         <div class="bg-grey px-4 py-5 px-md-5 u-h-100p rounded box-shadow-v1">
            <div class="u-w-90 u-h-90 u-flex-center bg-green text-white rounded-circle m-auto">
               <span class="icon icon-Tools u-fs-42"></span>
            </div>
            <h4 class="u-fs-26 u-pt-30 u-pb-20">
               Mobile
            </h4>
            <p>
               We create powerful and intuitive mobile experiences that are an outcome of your user psychology, digital behavior, key pain points and your business model. We have helped our clients grow revenue, boost brand engagement and launch new digital businesses on global platform.
            </p>
         </div>
      </div>

      <div class="col-lg-6 col-md-6 u-mt-30">
         <div class="bg-grey px-4 py-5 px-md-5 u-h-100p rounded box-shadow-v1">
            <div class="u-w-90 u-h-90 u-flex-center bg-primary text-white rounded-circle m-auto">
               <span class="icon icon-Notebook u-fs-42"></span>
            </div>
            <h4 class="u-fs-26 u-pt-30 u-pb-20">
               Web
            </h4>
            <p>
               Build reactive, scalable and real time web applications in a most optimal time frame and investments by leveraging dynamic technologies, modern design patterns and agile methodologies.
            </p>
         </div>
      </div>
   </div>
</div>