<div class="container">
   <div class="row">
      <div class="col-lg-6 m-auto text-center">
         <h2 class="h1">
           Meet Our Principal Team
         </h2>
         <div class="u-h-4 u-w-50 bg-primary rounded mt-4 u-mb-40 mx-auto"></div>
      </div>
   </div>
   <div class="row">
      <div class="col-12 u-mt-80 text-center">
         <div data-init="carousel" data-slick='{
            "slidesToShow":2,
            "slidesToScroll": 1,
            "arrows":true,
            "prevArrow":"<div class=\"slick-prev box-shadow-v1\"><i class=\"fa fa-angle-left\"></i></div>",
            "nextArrow":"<div class=\"slick-next box-shadow-v1\"><i class=\"fa fa-angle-right\"></i></div>",
            "responsive": [
            {
            "breakpoint":1024,
            "settings":{
            "slidesToShow": 2,
            "arrows":false,
            "dots":true
            }
            },
            {
            "breakpoint":600,
            "settings":{
            "slidesToShow": 1,
            "arrows":false,
            "dots":true
            }
            }
            ]
            }' data-slick-margin="15">
            <div class="p-5 bg-green rounded box-shadow-v1 my-4">

               <h4 class="text-white">
                  Mr. Naimish Srivastava
               </h4>
               <p class="text-muted">
                  Creative Director
               </p>
               <p class="text-white">
                  Naimish leads a talented team of technocrats, building cutting-edge software products and advanced analytics solutions and focusing on mutually beneficial sustained partnerships in countries around the world.
               </p>
            </div>
            <div class="p-5 rounded box-shadow-v1 my-4">

               <h4 class="text-black">
                  Mr. Nischal Rana
               </h4>
               <p class="text-muted">
                 Nischal Rana, Team Builder and Customer Success Manager
               </p>
               <p class="text-muted">
                  Nischal maintains a constant focus on team excellence and on customer delight. Under his leadership, the business has sustained excellence in customer satisfaction and ranking.
               </p>
            </div>
            <div class="p-5 bg-green rounded box-shadow-v1 my-4">
              <h4 class="text-white">
                Mr. Namit Srivastava
              </h4>
              <p class="text-muted">
                Namit Srivastava, Engineer
              </p>
              <p class="text-white">
                Namit is a skilled engineer and he has been a member of the team since the company's origin. His focus and attention represent the heart of our products and services.
               </p>
            </div>
         </div>
      </div>
   </div>
</div>