<!-- Main banner start -->
<section class="smartenUp-main">
  <div class="container">
      <div class="row">
          <div class="smartenUp-content text-center">
              <h1>
                  Smarten Up!
              </h1>
              <h4>
                  Smarter, Faster, Better, Advanced Analytics
              </h4>
              <div class="self-serve-cont col-xs-12">
        <p>
          The Future of Advanced Analytics is Here Today! Smarten Up and engage with sophisticated, easy-to-use advanced data discovery tools that are easy enough for every business user to adopt.
        </p>

        <p>
          There are so many possibilities inherent in business user empowerment. All you need are the right self-serve tools. Imagine a world where your users can leverage Smart Data Discovery and Augmented Analytics, and leave behind restrictive ‘Static Packaged Dashboards’. Empower your users to become Citizen Data Scientists with Smarten Advanced Data Discovery tools.
        </p>
              </div>
          </div><!-- smartenUp-content end -->
    <div class="clearfix"></div>
          <div class="bussi-user-block">
              <div class="col-xs-12 col-sm-6 bussi-user-img">
     <!--              <img src="images/bussi-user-img.jpg" alt="Take the Shackles off Your Business Users" title="Take the Shackles off Your Business Users"> -->
              </div><!--  bussi-user-img end -->
              <div class="col-xs-12 col-sm-6 bussi-user-txt">
                  <h3>Take the Shackles off Your Business Users</h3>

                  <p>
                      Give your users the freedom to imagine and to leverage, explore, clean, reduce, visualize, prepare and share data without limiting the use of critical analytics tools to visual data analysis on predefined dashboards. Your business is more than just plotting pieces of information on a graph. Give your team the tools they need to take the business to the next level!
                  </p>
              </div><!--  bussi-user-txt end -->
              <div class="clearfix"></div>
          </div><!-- bussi-user-block end -->
          <div class="clearfix"></div>

          <div class="col-xs-12 dont-wait-block text-center">
              <h3>DON'T WAIT!</h3>
              <h4>SMART DATA DISCOVERY AND  AUGMENTED ANALYTICS TOOLS ARE HERE NOW!</h4>
              <p>
                  Augmented Analytics allows business users to perform early prototyping and to test hypothesis without the skills of a data scientist.
              </p>
              <p>
                  Smart Data Discovery tools will ensure user adoption and data democratization with Self Serve Data Preparation, Smart Data Visualization,
              </p>
              <p>
                  Assisted Predictive Modeling and Clickless Analytics powered by machine learning and natural language processing (NLP) to improve insight and produce clear results with increased ROI and decreased TCO.
              </p>
          </div><!--  dont-wait-block end -->
      </div>
  </div>
</section>
<!-- Main banner end -->

<!-- Assisted Predictive Modeling start -->
<section class="apm-main bg-grey">
  <div class="container">
      <div class="row">
          <div class="display-table">
              <div class="col-xs-12 col-sm-6 dis-tbl-cel order2">
              <!--     <img src="images/assisted-predictive-modeling.png" alt="Assisted Predictive Modeling" title="Assisted Predictive Modeling"> -->
              </div><!-- dis-tbl-cel end -->
              <div class="col-xs-12 col-sm-6 dis-tbl-cel home-sec-title">
                  <a href="https://www.smarten.com/insight-predictive-analytics.html">Assisted Predictive Modeling</a>

                  <p>
                      Predictive Analytics for business users provides predictive modeling capability assisted by auto-recommendations and auto-suggestions to simplify use and allow business users to leverage predictive algorithms without the expertise and skill of a data scientist. These tools allow business users to apply predictive analytics to any use case using forecasting, regression, classification, clustering and other algorithms to analyze an infinite number of use cases and address customer targets, cross-sales opportunities, pricing, risk assessment and promotional targets and buying behavior.
                  </p>
              </div><!-- dis-tbl-cel end -->
          </div>
      </div>
  </div>
</section>
<!-- Assisted Predictive Modeling end -->

<!-- Smart Data Visualization start -->
<section class="sdv-main">
  <div class="container">
      <div class="row">
          <div class="display-table">
              <div class="col-xs-12 col-sm-6 dis-tbl-cel">
                  <!-- <img src="images/smarten-data-visualization.png" alt="Smarten Data Visualization" title="Smarten Data Visualization"> -->
              </div><!-- dis-tbl-cel end -->
              <div class="col-xs-12 col-sm-6 dis-tbl-cel home-sec-title">
                  <a href="https://www.smarten.com/smart-data-visualization.html">Smarten Data Visualization</a>

                  <p>
                      Smart data visualization allows business users to view and analyze data to identify a problem and clarify a root cause and to make confident decisions. Business users can interact easily with data discovery tools and analytics software and build a view that will tell a story using guided visualization and recommended data presentation so there is no need for assistance or delays. Guided recommendations are made based on data type, volume, dimensions, patterns and nature of data.
                  </p>
              </div><!-- dis-tbl-cel end -->
          </div>
      </div>
  </div>
</section>
<!-- Smart Data Visualization end -->

<!-- Assisted Predictive Modeling start -->
<section class="ssdp-main bg-purple">
  <div class="container">
      <div class="row">
          <div class="display-table">
              <div class="col-xs-12 col-sm-6 dis-tbl-cel order2">
                  <!-- <img src="images/self-serve-data-preparation.png" alt="Self-Serve Data Preparation" title="Self-Serve Data Preparation"> -->
              </div><!-- dis-tbl-cel end -->
              <div class="col-xs-12 col-sm-6 dis-tbl-cel home-sec-title">
                  <a href="https://www.smarten.com/self-serve-data-preparation.html">Self-Serve Data Preparation</a>

                  <p>
                      Smart data discovery tools and augmented data preparation features allow business users with average skills to perform data preparation and transform, shape, reduce, combine, explore, clean, sample and aggregate data, without the need for SQL skills, ETL or other programming language. Self-Service Data Prep enables data extraction transformation and loading, providing ETL for business users so the team can quickly move data to the analytics system without waiting for IT staff assistance.
                  </p>
              </div><!-- dis-tbl-cel end -->
          </div>
      </div>
  </div>
</section>
<!-- Assisted Predictive Modeling end -->

<!-- Smart Data Visualization start -->
<section class="sdv-main">
  <div class="container">
      <div class="row">
          <div class="display-table">
              <div class="col-xs-12 col-sm-6 dis-tbl-cel">
                  <!-- <img src="images/clickless-analytics.png" alt="Clickless Analytics" title="Clickless Analytics"> -->
              </div><!-- dis-tbl-cel end -->
              <div class="col-xs-12 col-sm-6 dis-tbl-cel home-sec-title">
                  <a href="https://www.smarten.com/nlp-search-anaytics.html">Clickless Analytics</a>

                  <p>
                      Advanced analytics with Natural Language Processing (NLP) provides a familiar Google-type interface where a user can compose and enter a question using common human language. For example, a business user might ask, 'who sold the most bakery products in 2017 in the Southwest region?' With natural language processing search capability, users do not need to scroll through menus and navigation. They can simply enter a search query in natural language and the system will translate the query, and return the results in natural language in an appropriate form, such as visualization, tables, numbers or descriptions.
                  </p>
              </div><!-- dis-tbl-cel end -->
          </div>
      </div>
  </div>
</section>
<!-- Smart Data Visualization end -->

<!-- Assisted Predictive Modeling start -->
<section class="sai-main bg-green">
  <div class="container">
      <div class="row">
          <div class="display-table">
              <div class="col-xs-12 col-sm-6 dis-tbl-cel order2">
                <!--   <img src="images/smarten-auto-insights.png" alt="Smarten Auto Insights" title="Smarten Auto Insights"> -->
              </div><!-- dis-tbl-cel end -->
              <div class="col-xs-12 col-sm-6 dis-tbl-cel home-sec-title">
                  <a href="https://www.smarten.com/autoInsights.html">Smarten Auto Insights</a>

                  <p>
                      The Auto Insights Smarten toolset allows business users to simply select the dataset to be analyzed and let the system interpret the dataset, select important columns of data, analyze its type and variety and other parameters and use intelligent machine learning to automatically apply the best algorithm and analytical technique and provide data insights.
                  </p>
              </div><!-- dis-tbl-cel end -->
          </div>
      </div>
  </div>
</section>
<!-- Assisted Predictive Modeling end -->