<style type="text/css">
  .home-style {
    background: url(/assets/landing/smarten-augmented-analytics-banner.jpg) no-repeat;
    background-color: #F6F9FC;
    background-origin: content-box;
  }

  .banner-txt {
    text-align: center;
    background: rgba(109, 100, 100, 0.82);
    font-size: 32px;
    color: white;
    padding: 20px 0;
    margin-bottom: -212px;
  }

  .get-start-area {
    background-color: #fb397d;
    color: #fff;
    font-weight: 500;
    display: inherit;
    border: none;
    height: 50px;
    min-width: 167px;
    line-height: 46px;
    text-align: center;
    border-radius: 24px 0px 24px 0px;
    margin-left: 10px;
  }

  .display-table {
    width: 100%;
    display: flex;
    display: webkit-flex;
    display: moz-flex;
    display: o-flex;
    display: ms-flexbox;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .about-qracto-point {
    display: inline-block;
    width: 75%;
  }

  .text-center {
    text-align: center !important;
  }

  .about-align {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 0px;
  }

  .white-icon {
    float: left;
  }

  .white-text {
    margin: 0 0 20px 30px;
    text-align: left;
  }

  .self-serve-cont {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0;
  }

  .col-xs-12 {
    width: 100%;
  }

  .dis-tbl-cel {
    vertical-align: middle;
  }

  .discuss-your-project {
    padding: 6px 10px;
    border: 0;
    background-color: #ee7203;
    color: white !important;
    text-transform: uppercase;
    font-weight: 600;
  }

</style>

<section id="home" class="u-py-100 u-h-100vh u-flex-center home-style">
  <div class="container">
    <div class="banner-txt">
      <p>Smart Data Discovery for Smart Business Users!</p>
      <p>Augmented Analytics: Sophisticated, Self-Serve Tools and Guidance for Business Users</p>
      <p>Advanced Data Discovery Tools Suitable for Every Business User and Data Scientist</p>
      <%= link_to "Let's Know More", data_discovery_path, target: "_blank", class: 'get-start-area' %>
    </div>
  </div>
</section>
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center about-align">
        <h1>Qracto Identity</h1>
        <h4>Advanced Analytics Experts</h4>
      </div>
      <div class="display-table">
        <div class="col-xs-12 col-sm-12 dis-tbl-cel text-center">
          <div class="self-serve-cont">
            <p>Approach to augmented data discovery and advanced analytics tools is based upon</p>

            <div class="about-qracto-point">
              <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="white-icon"><img src="/assets/landing/leftarrow.jpg" alt="Technology Leadership" title="Technology Leadership"></div>
                <p class="white-text">Technology Leadership</p>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="white-icon"><img src="/assets/landing/leftarrow.jpg" alt="Team Environment" title="Team Environment"></div>
                <p class="white-text">Team Environment</p>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="white-icon"><img src="/assets/landing/leftarrow.jpg" alt="Customer and Partner Focus" title="Customer and Partner Focus"></div>
                <p class="white-text">Customer and Partner Focus</p>
              </div>
            </div>

            <div class="clearfix"></div>

            <p>
              Qracto solution includes dynamic, cutting-edge business intelligence and data discovery tools. The Qracto product represents the evolution of the flagship BI business intelligence tools.
              Qracto is experienced in building world-class software products and applications. The team uses a unique Managed Memory Computing approach for performance balancing and easy handling of large datasets for all business intelligence and analytical needs.
            </p>
            <p>
              Qracto Augmented Analytics represents the evolution of approach to business intelligence, and the significance of self-serve data preparation, smart visualization, assisted predictive modeling, and Clickless Analytics powered by Natural Language Processing.
            </p>
            <p>
              The Qracto team experts combines business intelligence, business analysts, data scientists, engineers and data warehouse (DWH) professionals, working together to redefine and re-imagine business intelligence tools and to create a solid foundation in which Business Users can become Data Scientists.
            </p>
          </div>
        </div><!-- dis-tbl-cel end -->
      </div>
    </div>
  </div>
</section>

<section id="our-team">
  <%= render 'our_team' %>
</section>

<section id="our-services">
  <%= render 'our_services' %>
</section>

<section id="contact-us">
  <%= render 'contact_us' %>
</section>