<footer class="footer-bg-back">
<div class="container">
   <div class="row">
      <div class="col-12">
        <div class="bg-black box-shadow-v1 rounded p-5">
          <div class="col-md-5 col-xs-12 dis-tbl-cel">
            <h3 class="mt-0">Mailing Address</h3>
            3616 Kirkwood Highway Suite #1579<br>
            Wilmington DE 19808<br>
            Phone: (910)356-1640<br>
            Email:&nbsp;<a title="contact@qracto.co" href="mailto:contact@qracto.co">contact@qracto.co</a>
          </div>
          <div class="col-md-7">
          </div>
        </div>
      </div>


      <div class="col-12 text-center u-py-60">
          <h2 class="logo-brand-footer">Qracto</h2>
         <ul class="list-inline social social-rounded mt-4">
            <li class="list-inline-item">
               <a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li class="list-inline-item">
               <a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li class="list-inline-item">
               <a href="#"><i class="fa fa-google-plus"></i></a>
            </li>
            <li class="list-inline-item">
               <a href="#"><i class="fa fa-linkedin"></i></a>
            </li>
            <li class="list-inline-item">
               <a href="#"><i class="fa fa-dribbble"></i></a>
            </li>
         </ul>
      </div>
   </div>
   <div class="row align-items-center" style="border-top:1px solid #c3f4df;color:#c3f4df">
      <div class="col-lg-6 py-4 text-center text-lg-left">
         <span>© Copyright 2018 - Created by <a target="_blank" href="http://qracto.co">Qracto</a></span>
      </div>
      <div class="col-lg-6 py-4">
         <ul class="list-inline footer-nav u-ff-dosis text-center text-lg-right">
            <li class="list-inline-item">
               <a class="text-uppercase u-fw-600 p-2" href="#">HOME</a>
            </li>
            <li class="list-inline-item">
               <a class="text-uppercase u-fw-600 p-2" href="#">elements</a>
            </li>
            <li class="list-inline-item">
               <a class="text-uppercase u-fw-600 p-2" href="#">about</a>
            </li>
            <li class="list-inline-item">
               <a class="text-uppercase u-fw-600 p-2" href="#">BLOG</a>
            </li>
            <li class="list-inline-item">
               <a class="text-uppercase u-fw-600 p-2" href="#">CONTACT</a>
            </li>
         </ul>
      </div>
   </div>
</div>
</footer>
