<header class="header header-shrink header-inverse fixed-top">
  <div class="container">
    <nav class="navbar navbar-expand-lg px-md-0">
      <a class="navbar-brand" href="/">
        <span class="logo-default">
          <h1 class="logo-brand-color">Qracto</h1>
        </span>
        <span class="logo-inverse">
          <h1 class="logo-brand-color-inverse">Qracto</h1>
        </span>
      </a>
      <button class="navbar-toggler p-0" data-toggle="collapse" data-target="#navbarNav">
        <div class="hamburger hamburger--spin js-hamburger">
          <div class="hamburger-box">
            <div class="hamburger-inner"></div>
          </div>
        </div>
      </button>
    </nav>
  </div>
</header>